<launch>
    <env name="ROSCONSOLE_FORMAT" value="${severity} [${logger}]: ${message}"/>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find clf_object_recognition_3d)/config/rosconsole.config"/>

    <arg name="image_topic" default="/camera/color/image_raw"/>

    <include file="$(find tiago_clf_launch)/launch/realsense.launch"/>

    <arg name="object_labels" value="$(find yolox_models)/config/bremen_labels.yaml"/>
    <arg name="object_models" value="$(find yolox_models)/config/bremen_ecwm_models.yaml"/>
    <arg name="config" value="$(find clf_object_recognition_yolox)/config/config.yaml"/>
    <arg name="checkpoint" value="$(find yolox_models)/models/bremen_all_objects/best_ckpt.pth" />
    <arg name="exp" value="$(find yolox_models)/config/exp/coco_run.py"/>

    <param name="/yolox/publish_detections" value="True"/>
    <param name="/yolox/publish_marker" value="True"/>
    <include file="$(find clf_object_recognition_yolox)/launch/yolox_l.launch">
        <arg name="object_labels" value="$(arg object_labels)"/>
        <arg name="object_models" value="$(arg object_models)"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="checkpoint" value="$(arg checkpoint)"/>
        <arg name="exp" value="$(arg exp)"/>
    </include>

    <node pkg="tf2_ros" type="static_transform_publisher" name="fixed_map" args="0 0 0 0 0 0 1 map base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="fixed_camera" args="0 0 0 0 0 0 1 base_link head_2_link" />

    <arg name="command_args" value="-d $(find clf_object_recognition_3d)/config/rviz.rviz" />
    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="true"
            args="$(arg command_args)" output="log">
    </node>

    <include file="$(find ecwm_data)/launch/ecwm_data.launch">
        <arg name="world" value="clf-robocup.yaml"/>
        <arg name="plugins" value="robocup-default.yaml"/>
    </include>

</launch> 