<launch>
    <env name="ROSCONSOLE_FORMAT" value="${severity} [${logger}]: ${message}"/>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find clf_object_recognition_3d)/config/rosconsole.config"/>

    <arg name="image_topic" default="/camera/color/image_raw"/>
    
    <node pkg="clf_object_recognition_3d" type="3d_detector" output="screen" name="detect_3d">
        <param name="image_topic" value="$(arg image_topic)"/>
        <param name="depth_topic" value="/camera/aligned_depth_to_color/image_raw"/>
        <param name="info_topic" value="/camera/aligned_depth_to_color/camera_info"/>
        <param name="detect_2d_topic" value="/yolox/recognize"/>
	</node>

   

</launch> 