# Default all ros logger on INFO
log4j.logger.ros=DEBUG
log4j.logger.ros.rviz=DEBUG
log4j.logger.ros.rosconsole_bridge=INFO

# warn for noisy stuff
log4j.logger.ros.tf=WARN
log4j.logger.ros.nodelet=WARN
log4j.logger.ros.roscpp=WARN
log4j.logger.ros.roscpp.superdebug=WARN
log4j.logger.ros.image_transport.pluginlib.ClassLoader=WARN
log4j.logger.ros.realsense2_camera=WARN
log4j.logger.ros.ddynamic_reconfigure=WARN

# debug
log4j.logger.ros.clf_object_recognition_3d.3d_detector=DEBUG
log4j.logger.ros.clf_object_recognition_3d.detector=DEBUG
log4j.logger.ros.clf_object_recognition_3d.cloud=DEBUG