<library path="src/clf_object_recognition_tools">
  <class name="Annotation Plugin" type="clf_object_recognition_tools.annotater.AnnotationPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for annotating testset image regions
    </description>
    <qtgui>
        <group>
            <label>Object annotation</label>
            <icon type="theme">folder</icon>
            <statustip>Plugins related to object recogition.</statustip>
        </group>
      <label>Label Annotation</label>
      <icon type="theme">system-help</icon>
      <statustip>Annotate regions in images and write the result to disk.</statustip>
    </qtgui>
  </class>
  <class name="Test Plugin" type="clf_object_recognition_tools.test.TestPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for testing the clf_object_recognition
    </description>
    <qtgui>
        <group>
            <label>Object recognition test</label>
            <icon type="theme">folder</icon>
            <statustip>Plugins related to object recogition.</statustip>
        </group>
      <label>Object recognition test</label>
      <icon type="theme">system-help</icon>
      <statustip>Test object recognition using an sensor_msgs/Image input feed.</statustip>
    </qtgui>
  </class>
  <class name="Train Plugin" type="clf_object_recognition_tools.train.TrainPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for testing the clf_object_recognition
    </description>
    <qtgui>
        <group>
            <label>Object recognition test</label>
            <icon type="theme">folder</icon>
            <statustip>Plugins related to object recogition.</statustip>
        </group>
      <label>Object recognition training</label>
      <icon type="theme">system-help</icon>
      <statustip>Train a an object classifier.</statustip>
    </qtgui>
  </class>
</library>
