<launch>
    <arg name="object_labels" default="$(find clf_object_recognition_yolox)/config/coco_labels.yaml"/>
    <rosparam command="load" ns="object_labels" file="$(arg object_labels)"/>

    <arg name="config" default="$(find clf_object_recognition_yolox)/config/config.yaml"/>
    <arg name="checkpoint" default="$(find clf_object_recognition_yolox)/../yolox-models/yolox_s.pth" />
    <arg name="exp" default="$(find clf_object_recognition_yolox)/config/exp/yolox_s.py"/>
    <arg name="image_topic" default="/xtion/rgb/image_raw"/>

    <node pkg="clf_object_recognition_yolox" type="yolox_recognition_node" name="yolox" output="screen">
        <remap from="~input" to="$(arg image_topic)" />
        <param name="checkpoint" value="$(arg checkpoint)"/>
        <param name="exp" value="$(arg exp)"/>
        <rosparam command="load" file="$(arg config)" />
    </node>

    <node name="yolox_detection_3d" pkg="clf_object_recognition_3d" type="simple_3d">
		<param name="publish_detections" value="True"/>
        <param name="detect_2d_topic" value="/yolox/recognize"/>
	</node>

</launch> 