<launch>
    <arg name="config" default="$(find clf_object_recognition_yolox)/config/config.yaml"/>
    <arg name="checkpoint" default="$(find yolox_models)/models/yolo26/best.pt" />
    <arg name="image_topic" default="/camera/color/image_raw"/>

    <node pkg="clf_object_recognition_yolox" type="yolo26_recognition_node" name="yolox" output="screen">
    	<param name="publish_detections" value="True"/>
        <remap from="~input" to="$(arg image_topic)" />
        <param name="checkpoint" value="$(arg checkpoint)"/>
        <rosparam command="load" file="$(arg config)" />
    </node>
</launch> 