<launch>
  <!-- hand properties -->
  <arg name="rsb_transport_socket_enabled" default="1" />
  <arg name="rsb_transport_spread_enabled" default="0" />
  <arg name="rsb_transport_socket_server" default="auto" />
  <arg name="rsb_transport_socket_host" default="localhost" />
  <arg name="rsb_transport_socket_port" default="4444" />
  <arg name="table_safety_margin" default="0.0" />
  <arg name="camera_frame" default="" />
  <arg name="cloud_frame" default="base_link" />
  <arg name="obj_fitter_configs" default="$(find object_fitter)/config/default_config.yaml" />
  <rosparam command="load" file="$(arg obj_fitter_configs)" />
  <arg name="base_link_name" default="base_link"/>

  <!-- fitting service -->
  <node pkg="sq_fitting_ros" type="fitting_service.py" name="sq_fitting_ros" args="" output="screen" />
  <!-- sq drawing node -->
  <node pkg="sq_fitting_ros" type="display_node.py" name="sq_display" args="--lifetime 30.0 --frame $(arg base_link_name)" output="screen" />
  <!-- object fitter -->
  <node pkg="object_fitter" type="object_fitter_node.py" name="object_fitter" args="" output="screen" >
    <param name="table_safety_margin" type="double" value="$(arg table_safety_margin)"/>
    <param name="camera_frame" type="string" value="$(arg camera_frame)"/>
    <param name="cloud_frame" type="string" value="$(arg cloud_frame)"/>
    <env name="RSB_TRANSPORT_SOCKET_ENABLED" value="$(arg rsb_transport_socket_enabled)" />
    <env name="RSB_TRANSPORT_SPREAD_ENABLED" value="$(arg rsb_transport_spread_enabled)" />
    <env name="RSB_TRANSPORT_SOCKET_SERVER" value="$(arg rsb_transport_socket_server)" />
    <env name="RSB_TRANSPORT_SOCKET_HOST" value="$(arg rsb_transport_socket_host)" />
    <env name="RSB_TRANSPORT_SOCKET_PORT" value="$(arg rsb_transport_socket_port)" />    
  </node>
</launch>
